# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [42]:
# Do your analysis and answer the following (type your answers !! do not throw the code in there and submit the file)

# Which store has the highest total sales for the final month of data? storeB
# Which store makes the most sales on average? storeB
# Which store sells the most during the week of March 13th, 2016? Store D
# In what week does store C make its worst sales? 9   2014-07-06
# Which store has the most sales in the latest 3-month period? Store A
# What is the most consistent store in sales ? Store D
# Given the information you gathered, what do you think is the best store financially? storeB    1351342 sales

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#load the data
df=pd.read_csv("store_data.csv")
df.head()

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [3]:
# explore the data (gather as much information as you can)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    200 non-null    object
 1   storeA  200 non-null    int64
 2   storeB  200 non-null    int64
 3   storeC  200 non-null    int64
 4   storeD  200 non-null    int64
 5   storeE  200 non-null    int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [5]:
df.shape

(200, 6)

In [9]:
df.dtypes

week      object
storeA     int64
storeB     int64
storeC     int64
storeD     int64
storeE     int64
dtype: object

In [12]:
# clean the data
df.isnull().sum()

week      0
storeA    0
storeB    0
storeC    0
storeD    0
storeE    0
dtype: int64

In [17]:
df.duplicated().any() # no dupilcated

False

In [19]:
df['week'] = pd.to_datetime(df['week'])
df.dtypes

week      datetime64[ns]
storeA             int64
storeB             int64
storeC             int64
storeD             int64
storeE             int64
dtype: object

In [20]:
# total sales for the last month

mask=df['week'] >= max(df['week']) - pd.DateOffset(months=1)
last_month_sales=df[mask]
#last_month_sales.head()

# Group the data by week and calculate the sum of sales
sales_by_store = last_month_sales.groupby('week')[['storeA', 'storeB', 'storeC', 'storeD', 'storeE']].sum().sum()
print(sales_by_store)

highest_sales_store = sales_by_store.idxmax()
print(highest_sales_store)

storeA    25409
storeB    30946
storeC    24206
storeD    28341
storeE     8815
dtype: int64
storeB

In [21]:
# average sales

# Group the data by week and calculate the sum of sales for each store
sales_by_store_and_week = df.groupby('week')[['storeA', 'storeB', 'storeC', 'storeD', 'storeE']].sum()

# Calculate the average sales for each store over time
average_sales = sales_by_store_and_week.mean()
average_sales

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [23]:
# sales on march 13, 2016
march_13_sales = df[df['week'] == pd.to_datetime('2016-03-13')]
march_13_sales

         week  storeA  storeB  storeC  storeD  storeE
97 2016-03-13    2054    1390    5112    5513    2536

In [28]:
# worst week for store C
min_sales_c=df['storeC'].min()
df[df['storeC'] == min_sales_c]['week']

9   2014-07-06
Name: week, dtype: datetime64[ns]

In [29]:
# total sales during most recent 3 month period
mask=df['week'] >= max(df['week']) - pd.DateOffset(months=3)
last_month_sales=df[mask]
#last_month_sales.head()

# Group the data by week and calculate the sum of sales
sales_by_store = last_month_sales.groupby('week')[['storeA', 'storeB', 'storeC', 'storeD', 'storeE']].sum().sum()
print(sales_by_store)

highest_sales_store = sales_by_store.idxmax()
print(highest_sales_store)

storeA    94457
storeB    84405
storeC    71939
storeD    79926
storeE    30566
dtype: int64
storeA

In [30]:
# Calculate the standard deviation of sales for each store
store_std = df.groupby('week')[['storeA', 'storeB', 'storeC', 'storeD', 'storeE']].sum().std()

# Identify the store with the lowest standard deviation
most_consistent_store = store_std.idxmin()

print("The most consistent store is Store", most_consistent_store)

The most consistent store is Store storeD

In [41]:
numeric_data = df.select_dtypes(include='number')
numeric_data.sum()

storeA    1173096
storeB    1351342
storeC     988421
storeD    1086281
storeE     516005
dtype: int64

In [ ]:
# Go back to the top and answer the questions