# Task2

1. Given a list of integers, write a function to sort a list and another function to return the first and last appearance of a given target in the sorted list.<br>
ex:.<br>
Input:.<br>
1 4 5 4 4 1 2 3.<br>
4.<br>
Output:.<br>
4 6.<br>

In [32]:
def get_first_and_last(my_list,target):
    first=my_list.index(target)
    last=(len(my_list)-1)-(my_list[::-1].index(target))
    return first, last

In [27]:
test=[1 ,4 ,5, 4, 4 ,1, 2, 3]
target=4
my_sort(test)
test

[1, 1, 2, 3, 4, 4, 4, 5]

In [24]:
get_first_and_last(test,target)

(4, 6)

2. Write a program to get the count of even numbers in a given list. [make use of lambda expression]<br>
ex:<br>
Input:<br>
1 4 5 2 6 0 12 7<br>
Output:<br>
5

In [33]:
test=[1, 4, 5, 2 ,6,0 ,12 ,7]
y=len(list(filter(lambda x:(x%2==0),test)))
y

5

3. Write a program that asks the user for a list of integers, then get the sub list that results in the largest sum and the sub list that results in the smallest sum. Print the two sub lists and their sum. Handle any possible errors. [Len(sublist) > 1].
ex:<br>
Input:<br>
5 4 -1 7 8<br>
Output:<br>
[8, 5, 4, 7] (24)<br>
[-1, 4] (3)<br>

In [91]:
def largest_sum(test): 
    new=sorted(test)
    rev=list(reversed(sorted(new)))
    ans=[rev[0]]
    result=rev[0]
    for i in range(1,len(rev)):
        tmp=result+ rev[i]
        if(result <= tmp or len(ans)== 1):
            ans.append(rev[i])
            result=tmp
        else:
            break
    
    return ans,result

In [92]:
def smallest_sum(test): 
    new=sorted(test)
    ans=[new[0]]
    result=new[0]
    for i in range(1,len(new)):
        tmp=result+ new[i]
        if(result >= tmp or len(ans)== 1):
            ans.append(new[i])
            result=tmp
        else:
            break
    return ans,result

In [93]:
test=list(map(int,input().split()))
test

5 4 -1 7 8

[5, 4, -1, 7, 8]

In [94]:
ans,result=largest_sum(test)
print(ans," (",result,")")

[8, 7, 5, 4]  ( 24 )

In [95]:
test

[5, 4, -1, 7, 8]

In [96]:
ans,result=smallest_sum(test)
print(ans," (",result,")")

[-1, 4]  ( 3 )

write a program to read the file and store the users in a dictionary with the following structure: {'id':{'name': ,'score': ,'birthyear': ,'gender': }} and answer the following:<br>
        A) Do not store a user with no registered score [N/A]<br>
        B) What is the ID of the oldest user?<br>
        C) What is the average score?<br>
        D) What is the sex of the user with the highest score?<br>

*Note: Score, id, and birth year must be stored as integers<br>
ex for dict structure: {0: {'name': 'Elsherbiny', 'score': 100, 'birthyear': 1900, 'gender': 'm'}}

In [33]:
users={}
with open("grades.txt") as file:
    data=file.readline().split()
    columns=[data[0],data[1],data[4]]
    users={
        int(line.split()[0]):
        {
            data[1]:line.split()[1],      #name
            data[2]:int(line.split()[2]), #score
            data[4]:int(line.split()[4]), #birthyear
            data[6]:line.split()[6]       #gender
        }
        for line in file.readlines() if line.split()[2]!='N/A' 
          }

In [34]:
#A
users

{1: {'name': 'Bahnasawe', 'grade': 10, 'birthyear': 1973, 'gender': 'm'},
 2: {'name': 'Almohamdy', 'grade': 15, 'birthyear': 1987, 'gender': 'm'},
 3: {'name': 'Maher', 'grade': 18, 'birthyear': 1974, 'gender': 'm'},
 4: {'name': 'Sharaf', 'grade': 7, 'birthyear': 1999, 'gender': 'm'},
 6: {'name': 'Alsayed', 'grade': 10, 'birthyear': 1970, 'gender': 'm'},
 7: {'name': 'AyaKh', 'grade': 16, 'birthyear': 1997, 'gender': 'f'},
 8: {'name': 'AyaM', 'grade': 50, 'birthyear': 2000, 'gender': 'f'},
 9: {'name': 'Basmala', 'grade': 13, 'birthyear': 2004, 'gender': 'f'},
 10: {'name': 'Hamed', 'grade': 36, 'birthyear': 2001, 'gender': 'm'},
 12: {'name': 'Marawany', 'grade': 14, 'birthyear': 1975, 'gender': 'm'},
 13: {'name': 'Samir', 'grade': 6, 'birthyear': 2001, 'gender': 'm'},
 14: {'name': 'Ola', 'grade': 5, 'birthyear': 1997, 'gender': 'f'},
 15: {'name': 'ElRafee', 'grade': 17, 'birthyear': 1991, 'gender': 'm'},
 17: {'name': 'Sara', 'grade': 1, 'birthyear': 2002, 'gender': 'f'}}

In [35]:
#B
oldest= min([value["birthyear"] for value in users.values()])
id_oldest= list(filter(lambda x: users[x]["birthyear"] == oldest, users.keys()))[0]
id_oldest

6

In [21]:
#C
sum_score=sum([data['grade'] for data in users.values()])
avg_score=sum_score/len(users.keys())
avg_score

15.571428571428571

In [25]:
#D
max_score=max([data['grade'] for data in users.values()])
id_gender_max_score= list(filter(lambda x: users[x]["grade"] == max_score, users.keys()))[0]
users[id_gender_max_score]['gender'] #answer

'f'

In [46]:
#filtered.txt is in the same folder
with open("filtered.txt","w") as file:
    file.write(columns[0]+" "+columns[1]+" "+columns[2]+"\n")
    for key,value in users.items():
        file.write("{} {} {}\n".format(key,value['name'],value['birthyear']))